button {
  font-size: 18px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 50px;
  background-color: #0094ff;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 35px;
  cursor: pointer;
}
button:disabled {
  background-color: #a2a2a2;
}
